@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #020617;
  color: white;
}

::selection {
  background: #3b82f6;
  color: white;
}